# DS100 Final Project: A Basketball Analysis
## Which box score Team Statistics are the best predictors of winning NBA teams?
### Creators: Alec Zhou, Prashant Malyala

## This Project

In this project, we will be investigating which team statistics (measured or calculated by in game performance) are the best predictors of team success in the NBA. For our analysis, we will be using Team Box Score and Standings data from the 2012-2013 through 2017-2018 regular seasons.

## Set up

Below, we will import the necessary libraries for our data analysis.

In [110]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from datetime import date

Now, we'll read in the relevant basketball data.

In [111]:
#from the provided ds100 dataset
team_box_score = pd.read_csv('basketball/Basketball-TeamBoxScores.csv')
standings = pd.read_csv('basketball/Standings.csv')

## Data Preview

Let's briefly see what our data looks like.

**Standings Data:**

There are many teams who didn't play on October 30, 2012, who still have their standings listed on that date. Digging deeper, it seems that the Standings data has an entry for every team on every day of each season.

In [112]:
standings.head(5)

,stDate,teamAbbr,rank,rankOrd,gameWon,gameLost,stk,stkType,stkTot,gameBack,...,rel%Indx,mov,srs,pw%,pyth%13.91,wpyth13.91,lpyth13.91,pyth%16.5,wpyth16.5,lpyth16.5
0,2012-10-30,ATL,3,3rd,0,0,-,-,0,0.5,...,0.0,0.0,0.0,0.500,0.0000,0.0000,82.0000,0.000,0.000,82.000
1,2012-10-30,BKN,3,3rd,0,0,-,-,0,0.5,...,0.0,0.0,0.0,0.500,0.0000,0.0000,82.0000,0.000,0.000,82.000
2,2012-10-30,BOS,14,14th,0,1,L1,loss,1,1.0,...,0.0,-13.0,-13.0,0.072,0.1687,13.8334,68.1666,0.131,10.742,71.258
3,2012-10-30,CHA,3,3rd,0,0,-,-,0,0.5,...,0.0,0.0,0.0,0.500,0.0000,0.0000,82.0000,0.000,0.000,82.000
4,2012-10-30,CHI,3,3rd,0,0,-,-,0,0.5,...,0.0,0.0,0.0,0.500,0.0000,0.0000,82.0000,0.000,0.000,82.000

In [113]:
#30 teams are listed on this date even though not all of them played. there are only 30 teams in the whole NBA
len(standings[standings['stDate'] == '2012-10-30'])

30

Note that much of the information in the Standings table, like streaks or games behind the conference leader, don't classify as "box score team statistics" and therefore aren't relevant to our question. We just want to have a record of how many wins/losses each team had at each point in the season.

**Team Box Score Data:**

For each set of 3 officials, there are 2 games listed on each date. This led us to suspect that the Team Box Score data had two entries per game, one for each team. We can verify this in the second cell below.

In [114]:
team_box_score.head(7)

,gmDate,gmTime,seasTyp,offLNm1,offFNm1,offLNm2,offFNm2,offLNm3,offFNm3,teamAbbr,...,opptFIC40,opptOrtg,opptDrtg,opptEDiff,opptPlay%,opptAR,opptAST/TO,opptSTL/TO,poss,pace
0,2012-10-30,19:00,Regular,Brothers,Tony,Smith,Michael,Workman,Haywoode,WAS,...,61.6667,105.6882,94.4447,11.2435,0.4390,16.7072,1.0476,33.3333,88.9409,88.9409
1,2012-10-30,19:00,Regular,Brothers,Tony,Smith,Michael,Workman,Haywoode,CLE,...,56.0417,94.4447,105.6882,-11.2435,0.3765,18.8679,2.0000,84.6154,88.9409,88.9409
2,2012-10-30,20:00,Regular,McCutchen,Monty,Wright,Sean,Fitzgerald,Kane,BOS,...,80.8333,126.3381,112.6515,13.6866,0.5244,19.8287,3.1250,100.0000,94.9832,94.9832
3,2012-10-30,20:00,Regular,McCutchen,Monty,Wright,Sean,Fitzgerald,Kane,MIA,...,62.7083,112.6515,126.3381,-13.6866,0.4643,18.8501,1.5000,25.0000,94.9832,94.9832
4,2012-10-30,22:30,Regular,Foster,Scott,Zielinski,Gary,Dalen,Eric,DAL,...,58.6458,99.3678,108.1034,-8.7356,0.5000,18.6567,1.7143,42.8571,91.5790,91.5790
5,2012-10-30,22:30,Regular,Foster,Scott,Zielinski,Gary,Dalen,Eric,LAL,...,60.2083,108.1034,99.3678,8.7356,0.4545,17.3338,1.8333,75.0000,91.5790,91.5790
6,2012-10-31,19:00,Regular,Salvatore,Bennett,Brown,Tony,Lewis,Eric,DEN,...,58.4375,89.0099,79.4731,9.5368,0.3448,14.0362,1.1250,81.2500,94.3715,94.3715

In [115]:
#shows that the same game is listed twice, once for each team
team_box_score[team_box_score['gmDate'] == '2012-10-30'][['teamAbbr', 'opptAbbr']]

  teamAbbr opptAbbr
0      WAS      CLE
1      CLE      WAS
2      BOS      MIA
3      MIA      BOS
4      DAL      LAL
5      LAL      DAL

So not only do we have all the team and opposing team's statistics per game entry, we have two listings of every game! Certainly there's some redundancy in this data, and thinking about how we should address this redundancy will be part of our data cleaning and EDA process.

Note that we have a lot of quantitative variables in the team box score data; these are the statistics we hope to investigate.

As for the categorical data like who the officials were and in what conference the team was, we don't plan to dig into this information as much. However, because it's still worthwhile to see what the implications are of the data we drop, we will have a section dedicated to doing some EDA with this categorical data (refer to the section titled: *Visualizing some features of the Box Score Data*).

## Data Cleaning and Exploratory Data Analysis

### Cleaning our Standings Data

Looking at the Standings.PDF file provided with our data, it's clear that much of the Standings data isn't relevant to us. Our question is chiefly concerned with which **in game** team statistics best predict team success, so external measures of teams' winning/losing streaks, performance relative to the conference, and strength of schedule are all data we can drop.

Note that the assumption that we can predict team success using only team box statistics is inherent to our question. How valid this assumption is will be for us to assess once we build a model.

Here, the measure of success we will refer to is a **team's winning percentage** at different points of the season. 

team winning percentage = $ \frac{W}{W + L} $, where W represents total wins, and L total losses.

In [116]:
#really, we only care about the standing date, team name, and win percentage (computed from wins and losses)
standings = standings[['stDate', 'teamAbbr', 'gameWon', 'gameLost']]

#wpc represents winning percentage
standings['wpc'] = np.divide(standings['gameWon'], standings['gameWon'] + standings['gameLost'])
standings = standings.fillna(0)
standings = standings.drop(['gameWon', 'gameLost'], axis=1)

In [117]:
standings.head()

       stDate teamAbbr  wpc
0  2012-10-30      ATL  0.0
1  2012-10-30      BKN  0.0
2  2012-10-30      BOS  0.0
3  2012-10-30      CHA  0.0
4  2012-10-30      CHI  0.0

### Merging the Standings and Box Score Data

Now that we have the winning percentages of each team throughout the season from the Standings table, we can inner join it with the Team Box Score data based on the date and team in question.

For every game, we can then see what the winning percentage was of both teams and where their statistical performances differed.

In [118]:
#inner join the tables on the date and teamAbbr so every game has a winning percentage attribute
team_box_score = pd.merge(team_box_score, standings, how='inner',
                          left_on=['gmDate', 'teamAbbr'], right_on=['stDate', 'teamAbbr'])
#drop the added stDate column, which is redundant as we already have a gmDate column
team_box_score = team_box_score.drop('stDate', axis=1)
#and we convert gmDate into a datetime type for ease of manipulation
team_box_score['gmDate'] = team_box_score['gmDate'].apply(lambda x: datetime.strptime(x, "%Y-%m-%d").date())

In [119]:
team_box_score.head()

,gmDate,gmTime,seasTyp,offLNm1,offFNm1,offLNm2,offFNm2,offLNm3,offFNm3,teamAbbr,...,opptOrtg,opptDrtg,opptEDiff,opptPlay%,opptAR,opptAST/TO,opptSTL/TO,poss,pace,wpc
0,2012-10-30,19:00,Regular,Brothers,Tony,Smith,Michael,Workman,Haywoode,WAS,...,105.6882,94.4447,11.2435,0.4390,16.7072,1.0476,33.3333,88.9409,88.9409,0.0
1,2012-10-30,19:00,Regular,Brothers,Tony,Smith,Michael,Workman,Haywoode,CLE,...,94.4447,105.6882,-11.2435,0.3765,18.8679,2.0000,84.6154,88.9409,88.9409,1.0
2,2012-10-30,20:00,Regular,McCutchen,Monty,Wright,Sean,Fitzgerald,Kane,BOS,...,126.3381,112.6515,13.6866,0.5244,19.8287,3.1250,100.0000,94.9832,94.9832,0.0
3,2012-10-30,20:00,Regular,McCutchen,Monty,Wright,Sean,Fitzgerald,Kane,MIA,...,112.6515,126.3381,-13.6866,0.4643,18.8501,1.5000,25.0000,94.9832,94.9832,1.0
4,2012-10-30,22:30,Regular,Foster,Scott,Zielinski,Gary,Dalen,Eric,DAL,...,99.3678,108.1034,-8.7356,0.5000,18.6567,1.7143,42.8571,91.5790,91.5790,1.0

### Visualizing some features of the Box Score Data

*Make this section about how officials may affect winning performance, how being the home or away team may affect winning performance, seeing how wins were distributed across each conference/division, and maybe if rest at all played a factor in who was more likely to win a game. We plan to drop all if not most of this data in the next section when we start exploring specific team statistics, so investing some time into exploring the impact of what we're dropping is a good idea.*

In [123]:
def get_nth_season(data, n):
    """1st season begins in 2012 and 6th season begins in 2017"""
    return data[(data['gmDate'] > date(2011 + n, 10, 1)) & (data['gmDate'] < date(2012 + n, 5, 1))]

list_by_season = [get_nth_season(team_box_score, n) for n in range(1,7)]

fig, axs = plt.subplots(3, 2)
for season in list_by_season:
    home_games = season[]

[          gmDate gmTime  seasTyp    offLNm1 offFNm1    offLNm2  offFNm2  \
 0     2012-10-30  19:00  Regular   Brothers    Tony      Smith  Michael
 1     2012-10-30  19:00  Regular   Brothers    Tony      Smith  Michael
 2     2012-10-30  20:00  Regular  McCutchen   Monty     Wright     Sean
 3     2012-10-30  20:00  Regular  McCutchen   Monty     Wright     Sean
 4     2012-10-30  22:30  Regular     Foster   Scott  Zielinski     Gary
 ...          ...    ...      ...        ...     ...        ...      ...
 2453  2013-04-17  22:30  Regular      Adams  Bennie      Davis     Marc
 2454  2013-04-17  22:30  Regular  Zielinski    Gary      Mauer      Ken
 2455  2013-04-17  22:30  Regular  Zielinski    Gary      Mauer      Ken
 2456  2013-04-17  22:30  Regular       Wood    Leon     Palmer   Violet
 2457  2013-04-17  22:30  Regular       Wood    Leon     Palmer   Violet

          offLNm3   offFNm3 teamAbbr  ...  opptOrtg  opptDrtg opptEDiff  \
 0        Workman  Haywoode      WAS  ...  105.6882   94.4447   11.2435
 1        Workman  Haywoode      CLE  ...   94.4447  105.6882  -11.2435
 2     Fitzgerald      Kane      BOS  ...  126.3381  112.6515   13.6866
 3     Fitzgerald      Kane      MIA  ...  112.6515  126.3381  -13.6866
 4          Dalen      Eric      DAL  ...   99.3678  108.1034   -8.7356
 ...          ...       ...      ...  ...       ...       ...       ...
 2453  Richardson     Derek      SAC  ...  116.5612  112.3983    4.1629
 2454       Lewis      Eric      HOU  ...  101.3467   97.2519    4.0948
 2455       Lewis      Eric      LAL  ...   97.2519  101.3467   -4.0948
 2456     Spooner      Bill       GS  ...   93.0914  104.7278  -11.6364
 2457     Spooner      Bill      POR  ...  104.7278   93.0914   11.6364

      opptPlay%   opptAR  opptAST/TO  opptSTL/TO     poss     pace       wpc
 0       0.4390  16.7072      1.0476     33.3333  88.9409  88.9409  0.000000
 1       0.3765  18.8679      2.0000     84.6154  88.9409  88.9409  1.000000
 2       0.5244  19.8287      3.1250    100.0000  94.9832  94.9832  0.000000
 3       0.4643  18.8501      1.5000     25.0000  94.9832  94.9832  1.000000
 4       0.5000  18.6567      1.7143     42.8571  91.5790  91.5790  1.000000
 ...        ...      ...         ...         ...      ...      ...       ...
 2453    0.4889  18.6679      1.9231     38.4615  96.0869  96.0869  0.341463
 2454    0.3837  18.6258      2.0769     46.1538  97.6845  88.4690  0.548780
 2455    0.3933  16.2087      1.5000     42.8571  97.6845  88.4690  0.548780
 2456    0.3889  14.9800      1.2857     14.2857  94.5308  94.5308  0.573171
 2457    0.4396  15.9429      1.7500     58.3333  94.5308  94.5308  0.402439

 [2458 rows x 124 columns],
           gmDate gmTime  seasTyp    offLNm1  offFNm1   offLNm2  offFNm2  \
 2458  2013-10-29  19:00  Regular       Mott   Rodney    Fraher      Pat
 2459  2013-10-29  19:00  Regular       Mott   Rodney    Fraher      Pat
 2460  2013-10-29  20:00  Regular     Corbin     Sean  Crawford      Joe
 2461  2013-10-29  20:00  Regular     Corbin     Sean  Crawford      Joe
 2462  2013-10-29  22:30  Regular   Crawford      Dan     Lewis     Eric
 ...          ...    ...      ...        ...      ...       ...      ...
 4913  2014-04-16  22:30  Regular      Adams   Bennie  Crawford      Dan
 4914  2014-04-16  22:30  Regular  Salvatore  Bennett   Collins  Derrick
 4915  2014-04-16  22:30  Regular  Salvatore  Bennett   Collins  Derrick
 4916  2014-04-16  22:30  Regular  Zielinski     Gary   Spooner     Bill
 4917  2014-04-16  22:30  Regular  Zielinski     Gary   Spooner     Bill

       offLNm3 offFNm3 teamAbbr  ...  opptOrtg  opptDrtg opptEDiff opptPlay%  \
 2458   Boland    Matt      ORL  ...  100.5536   90.1872   10.3664    0.4146
 2459   Boland    Matt      IND  ...   90.1872  100.5536  -10.3664    0.3636
 2460  Lindsay    Mark      CHI  ...  108.5368   96.3644   12.1724    0.4253
 2461  Lindsay    Mark      MIA  ...   96.3644  108.5368  -12.1724    0.3846
 2462    Scott   Kevin      LAC  ...  115.5831  102.6298   12.9533    0.4468
 ...       ...     ...      ...  ...       ...       ...       ...       ...
 4913   Ayotte    Mark      POR  ...  109.3930  115.7041   -6.3111    0.4048
 4914   Cutler   Kevin      PHO  ...   99.5941  104.6241   -5.0300    0.4111
 4915   Cutler   Kevin      SAC  ...  104.6241   99.5941    5.0300    0.4444
 4916   Maddox     Tre       GS  ...  105.5760  109.3466   -3.7706    0.3936
 4917   Maddox     Tre      DEN  ...  109.3466  105.5760    3.7706    0.4731

        opptAR  opptAST/TO  opptSTL/TO      poss      pace       wpc
 2458  13.8122      0.8095     19.0476   96.4660   96.4660  0.000000
 2459  12.7436      0.8947     52.6316   96.4660   96.4660  1.000000
 2460  19.8838      1.3000     50.0000   98.5841   98.5841  0.000000
 2461  17.0219      1.2105     57.8947   98.5841   98.5841  1.000000
 2462  15.6123      1.2105     42.1053  100.3607  100.3607  0.000000
 ...       ...         ...         ...       ...       ...       ...
 4913  15.8078      2.5000     50.0000   95.0701   95.0701  0.658537
 4914  14.0533      1.1176     47.0588   99.4035   99.4035  0.585366
 4915  13.0421      1.4545     81.8182   99.4035   99.4035  0.341463
 4916  16.2659      1.2105     21.0526  106.0847  106.0847  0.621951
 4917  18.4426      1.9286     85.7143  106.0847  106.0847  0.439024

 [2460 rows x 124 columns],
           gmDate gmTime  seasTyp    offLNm1   offFNm1     offLNm2 offFNm2  \
 4918  2014-10-28  20:00  Regular      Jones     David    Brothers    Tony
 4919  2014-10-28  20:00  Regular      Jones     David    Brothers    Tony
 4920  2014-10-28  20:00  Regular     Fraher       Pat    Phillips   Jason
 4921  2014-10-28  20:00  Regular     Fraher       Pat    Phillips   Jason
 4922  2014-10-28  22:30  Regular   Kirkland  Courtney       Zarba    Zach
 ...          ...    ...      ...        ...       ...         ...     ...
 7373  2015-04-15  20:00  Regular     Corbin      Sean    Crawford     Joe
 7374  2015-04-15  22:30  Regular       Wood      Leon        Wall   Scott
 7375  2015-04-15  22:30  Regular       Wood      Leon        Wall   Scott
 7376  2015-04-15  22:30  Regular  Garretson       Ron  Richardson   Derek
 7377  2015-04-15  22:30  Regular  Garretson       Ron  Richardson   Derek

          offLNm3   offFNm3 teamAbbr  ...  opptOrtg  opptDrtg opptEDiff  \
 4918      Taylor    Dedric      ORL  ...  106.0973   88.2394   17.8579
 4919      Taylor    Dedric       NO  ...   88.2394  106.0973  -17.8579
 4920     Workman  Haywoode      DAL  ...  116.6039  115.4494    1.1545
 4921     Workman  Haywoode       SA  ...  115.4494  116.6039   -1.1545
 4922  Richardson     Derek      HOU  ...   97.3899  116.8679  -19.4780
 ...          ...       ...      ...  ...       ...       ...       ...
 7373      Boland      Matt      TOR  ...  105.6792  111.7527   -6.0735
 7374     Kennedy      Bill      DEN  ...  126.3531  119.7029    6.6502
 7375     Kennedy      Bill       GS  ...  119.7029  126.3531   -6.6502
 7376         Orr      J.T.      SAC  ...   97.2848  119.8863  -22.6015
 7377         Orr      J.T.      LAL  ...  119.8863   97.2848   22.6015

      opptPlay%   opptAR  opptAST/TO  opptSTL/TO      poss      pace       wpc
 4918    0.4881  13.9237      2.2222    111.1111   95.1956   95.1956  0.000000
 4919    0.3721  13.2564      0.9444     27.7778   95.1956   95.1956  1.000000
 4920    0.4512  19.0020      1.0952     23.8095   86.6180   86.6180  0.000000
 4921    0.4810  14.9965      1.7000     90.0000   86.6180   86.6180  1.000000
 4922    0.3457  12.7836      1.2308     53.8462   92.4120   92.4120  1.000000
 ...        ...      ...         ...         ...       ...       ...       ...
 7373    0.3896  14.0135      1.0714     57.1429   82.3246   82.3246  0.597561
 7374    0.5281  20.2758      2.3077     84.6154  105.2606  105.2606  0.365854
 7375    0.4737  18.9394      1.3333     47.6190  105.2606  105.2606  0.817073
 7376    0.3871  15.4930      1.4667     40.0000  101.7631  101.7631  0.353659
 7377    0.5227  21.1208      3.0000    100.0000  101.7631  101.7631  0.256098

 [2460 rows x 124 columns],
           gmDate gmTime  seasTyp    offLNm1  offFNm1    offLNm2 offFNm2  \
 7378  2015-10-27  20:00  Regular      Smith  Michael      Zarba    Zach
 7379  2015-10-27  20:00  Regular      Smith  Michael      Zarba    Zach
 7380  2015-10-27  20:00  Regular     Foster    Scott     Ayotte    Mark
 7381  2015-10-27  20:00  Regular     Foster    Scott     Ayotte    Mark
 7382  2015-10-27  22:30  Regular    Collins  Derrick  Twardoski   Scott
 ...          ...    ...      ...        ...      ...        ...     ...
 9815  2016-04-13  22:30  Regular  McCutchen    Monty    Guthrie   David
 9816  2016-04-13  22:30  Regular  Garretson      Ron     Ayotte    Mark
 9817  2016-04-13  22:30  Regular  Garretson      Ron     Ayotte    Mark
 9818  2016-04-13  22:30  Regular       Mott   Rodney      Adams  Bennie
 9819  2016-04-13  22:30  Regular       Mott   Rodney      Adams  Bennie

         offLNm3   offFNm3 teamAbbr  ...  opptOrtg  opptDrtg opptEDiff  \
 7378        Roe       Eli      DET  ...   98.6185  111.2081  -12.5896
 7379        Roe       Eli      ATL  ...  111.2081   98.6185   12.5896
 7380     Taylor       Ben      CLE  ...   97.0327   95.0320    2.0007
 7381     Taylor       Ben      CHI  ...   95.0320   97.0327   -2.0007
 7382     Capers     James       NO  ...  110.3478   94.4418   15.9060
 ...         ...       ...      ...  ...       ...       ...       ...
 9815    Workman  Haywoode      LAL  ...  101.0119  106.2729   -5.2610
 9816  Van Duyne    Justin      LAC  ...  106.9410   98.4983    8.4427
 9817  Van Duyne    Justin      PHO  ...   98.4983  106.9410   -8.4427
 9818     Maddox       Tre      DEN  ...  107.7224   99.6684    8.0540
 9819     Maddox       Tre      POR  ...   99.6684  107.7224   -8.0540

      opptPlay%   opptAR  opptAST/TO  opptSTL/TO      poss      pace       wpc
 7378    0.4111  17.5159      1.4667     60.0000   95.3168   95.3168  1.000000
 7379    0.4205  15.8141      1.5333     33.3333   95.3168   95.3168  0.000000
 7380    0.3978  10.5588      1.0000     46.1538   99.9663   99.9663  0.000000
 7381    0.4043  18.7753      2.3636     45.4545   99.9663   99.9663  1.000000
 7382    0.4316  18.7484      1.4500     40.0000  100.5910  100.5910  0.000000
 ...        ...      ...         ...         ...       ...       ...       ...
 9815    0.4382  20.6738      1.9286     71.4286   95.0383   95.0383  0.207317
 9816    0.4592  17.1414      1.5294     58.8235  106.6008  106.6008  0.646341
 9817    0.4095  16.5135      1.5333     60.0000  106.6008  106.6008  0.280488
 9818    0.4194  14.1075      1.1176     64.7059   99.3294   99.3294  0.402439
 9819    0.4255  16.4474      1.2000     50.0000   99.3294   99.3294  0.536585

 [2442 rows x 124 columns],
            gmDate gmTime  seasTyp   offLNm1 offFNm1    offLNm2 offFNm2  \
 9820   2016-10-25  08:00  Regular      Lane    Karl      Adams  Bennie
 9821   2016-10-25  08:00  Regular      Lane    Karl      Adams  Bennie
 9822   2016-10-25  10:00  Regular   Buchert    Nick   Callahan    Mike
 9823   2016-10-25  10:00  Regular   Buchert    Nick   Callahan    Mike
 9824   2016-10-25  10:30  Regular    Maddox     Tre     Fraher     Pat
 ...           ...    ...      ...       ...     ...        ...     ...
 12237  2017-04-12  10:30  Regular  Williams   James  Garretson     Ron
 12238  2017-04-12  10:30  Regular      Lane    Karl       Wall   Scott
 12239  2017-04-12  10:30  Regular      Lane    Karl       Wall   Scott
 12240  2017-04-12  10:30  Regular   Guthrie   David      Adams  Bennie
 12241  2017-04-12  10:30  Regular   Guthrie   David      Adams  Bennie

         offLNm3 offFNm3 teamAbbr  ...  opptOrtg  opptDrtg opptEDiff opptPlay%  \
 9820    Kennedy    Bill       NY  ...  116.5653   87.6731   28.8922    0.4592
 9821    Kennedy    Bill      CLE  ...   87.6731  116.5653  -28.8922    0.3478
 9822      Brown    Tony      UTA  ...  122.1120  112.3863    9.7257    0.4699
 9823      Brown    Tony      POR  ...  112.3863  122.1120   -9.7257    0.4444
 9824   Crawford     Dan       SA  ...  101.2387  130.5979  -29.3592    0.4301
 ...         ...     ...      ...  ...       ...       ...       ...       ...
 12237    Ayotte    Mark       GS  ...   90.6779  105.1478  -14.4699    0.4100
 12238   Spooner    Bill      SAC  ...  129.7661  107.1981   22.5680    0.5513
 12239   Spooner    Bill      LAC  ...  107.1981  129.7661  -22.5680    0.4706
 12240     Davis    Marc       NO  ...  100.9166  103.9441   -3.0275    0.4271
 12241     Davis    Marc      POR  ...  103.9441  100.9166    3.0275    0.4444

         opptAR  opptAST/TO  opptSTL/TO      poss      pace       wpc
 9820   20.8951      2.0667     80.0000  100.3729  100.3729  0.000000
 9821   12.9969      0.9444     33.3333  100.3729   99.9564  1.000000
 9822   18.3824      1.6923     38.4615   92.5380   92.1540  0.000000
 9823   15.5687      1.3571     64.2857   92.5380   92.9252  1.000000
 9824   18.0560      1.5000     68.7500   98.7765   98.7765  1.000000
 ...        ...         ...         ...       ...       ...       ...
 12237  16.4098      1.2778     72.2222  103.6636  104.0973  0.817073
 12238  22.4806      4.8333     66.6667   88.6210   88.6210  0.390244
 12239  21.5724      2.4545     18.1818   88.6210   88.2533  0.621951
 12240  15.9744      0.8800     16.0000   99.0917   98.6805  0.414634
 12241  15.3563      1.8182    118.1818   99.0917   99.0917  0.500000

 [2422 rows x 124 columns],
            gmDate gmTime  seasTyp    offLNm1 offFNm1    offLNm2  offFNm2  \
 12242  2017-10-17  08:00  Regular      Forte   Brian      Smith  Michael
 12243  2017-10-17  08:00  Regular      Forte   Brian      Smith  Michael
 12244  2017-10-17  10:30  Regular     Maddox     Tre  Garretson      Ron
 12245  2017-10-17  10:30  Regular     Maddox     Tre  Garretson      Ron
 12246  2017-10-18  07:00  Regular      Davis    Marc     Boland     Matt
 ...           ...    ...      ...        ...     ...        ...      ...
 14697  2018-04-11  10:30  Regular  Garretson     Ron       Mott   Rodney
 14698  2018-04-11  10:30  Regular     Cutler   Kevin    Kennedy     Bill
 14699  2018-04-11  10:30  Regular     Cutler   Kevin    Kennedy     Bill
 14700  2018-04-11  10:30  Regular      Tiven    Josh        Orr     J.T.
 14701  2018-04-11  10:30  Regular      Tiven    Josh        Orr     J.T.

           offLNm3 offFNm3 teamAbbr  ...  opptOrtg  opptDrtg opptEDiff  \
 12242   McCutchen   Monty      BOS  ...  101.7143   98.7227    2.9916
 12243   McCutchen   Monty      CLE  ...   98.7227  101.7143   -2.9916
 12244      Foster   Scott      HOU  ...  118.0353  119.0108   -0.9755
 12245      Foster   Scott       GS  ...  119.0108  118.0353    0.9755
 12246      DeRosa     Joe      CHA  ...  103.0506   90.9270   12.1236
 ...           ...     ...      ...  ...       ...       ...       ...
 14697  Richardson   Derek      LAC  ...  113.0207   98.2788   14.7419
 14698       Lewis    Eric      UTA  ...  104.4268   95.2126    9.2142
 14699       Lewis    Eric      POR  ...   95.2126  104.4268   -9.2142
 14700      Foster   Scott      HOU  ...  104.3633   90.2307   14.1326
 14701      Foster   Scott      SAC  ...   90.2307  104.3633  -14.1326

       opptPlay%   opptAR  opptAST/TO  opptSTL/TO      poss      pace       wpc
 12242    0.4176  14.6154      1.1176     17.6471  100.2809   99.8648  0.000000
 12243    0.3956  17.7778      2.0000     91.6667  100.2809  100.2809  1.000000
 12244    0.4725  24.2442      2.0000     29.4118  102.5117  102.9406  1.000000
 12245    0.4700  19.1309      2.1538     69.2308  102.5117  102.0863  0.000000
 12246    0.4271  17.8731      2.6667    155.5556   98.9805   99.8123  0.000000
 ...         ...      ...         ...         ...       ...       ...       ...
 14697    0.4421  18.2428      1.4706     47.0588  101.7513  101.7513  0.512195
 14698    0.4457  15.1951      1.9000     90.0000   97.6761   97.2708  0.585366
 14699    0.3667  13.5788      1.2000     33.3333   97.6761   97.6761  0.597561
 14700    0.4471  18.0624      2.0000     54.5455   91.9864   91.6047  0.792683
 14701    0.3523   9.7969      0.7857     14.2857   91.9864   91.9864  0.329268

 [2460 rows x 124 columns]]

### Cleaning our Team Box Score Data

Our box score data has a lot of columns, making it quite difficult to find patterns. Not all of the columns are directly relevant to the question we're trying to answer, so let's see what we can clean up.

Just in case we want to revisit any of the team_box_score data, we'll store our changes in different dataframes.

First of all, the time of each game and the identities of our officials aren't really team statistics. We may choose to revisit them later, but for now, let's ignore them.

In [ ]:
#note that none of these seasons were lockouts or out of the ordinary. this seasTyp column also doesn't tell us much
team_box_score['seasTyp'].unique()

In [ ]:
#dropping the aforementioned columns
tbs_cleaned = team_box_score.drop(['gmTime', 'seasTyp', 'offLNm1', 'offFNm1',
                                   'offLNm2', 'offFNm2', 'offLNm3', 'offFNm3'], axis=1)

The conference and division a team plays in, the number of days they've had off, and the total team minutes (which would be the same for both teams in a game) also aren't really performance statistics. We will also drop this information for now.

Note that we will also drop this data for the opponent side (opptConf, opptDiv, etc.).

In [ ]:
#dropping the columns we've mentioned above
tbs_cleaned = tbs_cleaned.drop(['teamConf', 'teamDiv', 'teamMin', 'teamDayOff', 'opptConf',
                                  'opptDiv', 'opptMin', 'opptDayOff'], axis=1)

In [ ]:
tbs_cleaned.head()

Finally, just to make the teamRslt column a bit more computer interpretable, let's replace losses with 0's and wins with 1's.

In [ ]:
#make the result column a binary indicator
tbs_cleaned = tbs_cleaned.replace(to_replace=['Loss', 'Win'], value=[0, 1])
#verify that we only have 0's and 1's in this column
tbs_cleaned['teamRslt'].unique()

In [ ]:
tbs_cleaned.head()

We've narrowed our data mostly down to the barebones numbers and statisticsâ€”awesome!

Now we can focus on exploring our data a bit more thoroughly.

### Exploring the Team Box Score Data

In [ ]:
np.var(tbs_cleaned).sort_values(ascending=False)[0:25]

In [ ]:
numbers_only = tbs_cleaned.drop(['teamAbbr', 'teamLoc', 'opptAbbr', 'opptConf', 'opptDiv', 'opptLoc', 'opptRslt'], axis=1)

In [ ]:
#centers data mean on 0, can now do SVD
numbers_only_centered = numbers_only - np.mean(numbers_only)
numbers_only_centered.head()

In [ ]:
#divide by standard deviation to prevent high variance components from affecting PCA
numbers_only_centered_scaled = np.divide(numbers_only_centered, np.sqrt(np.var(numbers_only_centered)))
numbers_only_centered_scaled.head()

In [ ]:
u, s, vt = np.linalg.svd(numbers_only_centered_scaled, full_matrices=False)
p_matrix = numbers_only_centered_scaled @ vt.T

In [ ]:
plt.plot(np.arange(1, 104), s**2 / sum(s**2));
plt.xticks(np.arange(1, 104), np.arange(1, 104));
plt.xlabel('PC #');
plt.ylabel('Variance Explained');
plt.title('Scree Plot of Variance of PC #i')

In [ ]:
numbers_only_filtered = numbers_only[numbers_only.columns.drop(list(numbers_only.filter(regex='oppt')))]

df_rando = numbers_only_filtered[['teamOREB%', 'teamEDiff', 'teamSTL', 'teamBLK', 'teamFG%', 'team3P%', 'teamORB',
                                 'teamDRB', 'teamPTS3', 'teamPTS4', 'teamASST%', 'teamEFG%', 'teamOrtg', 'teamDrtg',
                                 'teamSTL/TO']]
df_rando.head()

In [ ]:
sns.heatmap(df_rando.corr())

## Inference and Prediction